pytest>5
pytest-asyncio
fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
lightgbm
joblib
python-multipart
pydantic
aiofiles
requests
azure-identity
azure-storage-blob
pyyaml
loguru
passlib[bcrypt] 
python-jose
sqlalchemy